@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/NotoSansKR-Regular.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: medium;
  font-weight: 500;
  src: url(../src/fonts/NotoSansKR-Medium.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: bold;
  font-weight: 700;
  src: url(../src/fonts/NotoSansKR-Bold.otf) format("otf");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
